$small: 300px;
$medium: 900px;

.conteinerHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  padding: 10px 20px;

  > img {
    height: 16px;
    margin: 20px 0;
  }

  .conteinerNavInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .signOutButton {
    background: transparent;
    margin-right: 20px;

    border: 0;
    color: #e1e1e6;
    font-size: 16px;

    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
    }
  }
  .divProfile {
    display: flex;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #ff008e, #ffcd1e);

    > img {
      border-radius: 50%;
      height: 40px;
    }
  }

  @media screen and (max-width: $small) {
    //do Smth
    margin: 9px 21px;

    > img {
      height: 28px;
      margin: 38px 0;
    }
  }
}
