$small: 300px;
$medium: 900px;

.contentWrapper {
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  grid-template-columns: 1fr 453px;
  column-gap: 120px;
  position: relative;
  display: flex;

  flex-direction: column;
  @media screen and (min-width: $medium) {
    //do Smth
    display: grid;
  }
 
}

.contentSigned:before {
  content: '';
  height: 100vh;
  background: url('./assets/background.svg') no-repeat;
  background-size: cover;
  position: absolute;
  right: 0;
  width: 100%;
  top: 460px;

  @media screen and (min-width: $medium) {
    //do Smth
    width: 420px;
    right: -200px;
    top: 0;
  }
}
